{{define "partials/dashboard/card_driver"}}
<div
  class="row-span-3 bg-white p-5 rounded-lg shadow-sm border border-slate-200 flex flex-col"
>
  <div class="w-full flex items-start justify-between">
    <h3 class="text-lg uppercase font-medium text-slate-500">Drivers:</h3>
    <span id="drivers-counter" class="text-7xl font-extrabold text-slate-800"
      >0</span
    >
  </div>
  <iframe
    src="/api/v1/drivers"
    frameborder="0"
    class="w-full flex-1 rounded-lg"
    style="color-scheme: light"
  ></iframe>
</div>
{{end}}
