{{define "partials/table/table_head"}}
<thead>
  <tr>
    <th class="p-4 border-b border-slate-200 bg-slate-50">
      <p class="text-sm font-normal leading-none text-slate-500">Driver ID</p>
    </th>
    <th class="p-4 border-b border-slate-200 bg-slate-50">
      <p class="text-sm font-normal leading-none text-slate-500">Name</p>
    </th>
    <th class="p-4 border-b border-slate-200 bg-slate-50">
      <p class="text-sm font-normal leading-none text-slate-500">Team</p>
    </th>
    <th class="p-4 border-b border-slate-200 bg-slate-50">
      <p class="text-sm font-normal leading-none text-slate-500">Status</p>
    </th>
    <th class="p-4 border-b border-slate-200 bg-slate-50">
      <p class="text-sm font-normal leading-none text-slate-500"></p>
    </th>
  </tr>
</thead>
{{end}}
