{{define "partials/table/table_search"}}
<div class="w-full flex justify-between items-center mb-3 mt-1">
  <div>
    <h3 class="text-lg font-semibold text-slate-800">Drivers</h3>
    <p class="text-slate-500">Overview of the all drivers.</p>
  </div>
  <div class="ml-3">
    <input
      class="bg-white w-full pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
      placeholder="Search for driver..."
    />
  </div>
</div>
{{end}}
