<header class="w-full h-20 bg-white border-b border-slate-200 shadow-sm">
  <div class="max-w-screen-xl mx-auto h-full flex items-center justify-between">
    <h2 class="text-slate-800 uppercase font-semibold text-2xl tracking-wide">
      <span class="font-black text-red-500">F1</span>Dex
    </h2>
    <nav class="flex items-center gap-3">
      <a href="/" class="text-slate-800 hover:text-red-500 transition-colors"
        >Home</a
      >
      <a href="/" class="text-slate-800 hover:text-red-500 transition-colors"
        >Drivers</a
      >
      <a href="/" class="text-slate-800 hover:text-red-500 transition-colors"
        >Teams</a
      >
      <a href="/" class="text-slate-800 hover:text-red-500 transition-colors"
        >Tracks</a
      >
      <a href="/" class="text-slate-800 hover:text-red-500 transition-colors"
        >Users</a
      >
      <button
        class="bg-red-500 text-slate-100 w-full py-2 px-4 rounded-lg font-medium hover:bg-slate-800 transition-colors"
      >
        Logout
      </button>
    </nav>
  </div>
</header>
